div {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    background-color: yellow;
}

a:visited {
    color: green;
}

img {
    width: 350px;
    height: 250px;
}

.list {
    font-size: 25px;
    color: red;
}

body {
    display: flex;
    justify-content: center;
}